@font-face {
    font-family: 'changa';
    src: url(Fonts/Changa-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'kdam';
    src: url(Fonts/Alumni_Sans/AlumniSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Alumni';
    src: url(Fonts/Alumni_Sans/static/AlumniSans-Bold.ttf);
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --laranja-gamers: #cf5c36;
    --azul-gamers: #1481ba;
    --cinza-gamers: #34312d;
}

.banner img {
    display: flex;
    width: 100%;


}

.container-grid {

    margin: 20px;
    display: flex;
    justify-content: center;

}

.menu {

    display: flex;
    font-family: "kdam";
    justify-content: space-between;
    text-decoration: underline transparent;
    width: 80%;
    align-items: center;
    font-size: 30px;
}

.menu a {

    text-decoration: underline transparent;
    color: black;

}

.cases {


    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    margin-top: 100px;

}

.cases img {

    width: 400%;
    height: 400%;
    object-fit: contain;
    width: auto;



}

#sobre {

    display: flex;
    font-family: "kdam";
    justify-content: center;
    flex-direction: column;
    font-size: 35px;


}

#sobre .sobre-start {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 350px;


}

.sobre-start a button {

    width: 250px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: rgba(133, 189, 255, 1);
    font-size: 35px;
    font-family: 'Alumni';

}

#sobre .exploracao {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    gap: 30px
}

#sobre .exploracao .textao {

    width: 80%;

}

#sobre .cotacao {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    font-family: "alumni";
    font-size: 50px;
}

#sobre .info {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 380px;
    font-family: "alumni";

}

.allcases img {
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

#cotacao {
    width: 80%;

    margin: 0 auto;

    font-family: "Alumni";
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;

    margin: 0 auto;
}

#cotacaoi {
    font-family: "Alumni";
    font-size: 50px;
    margin: 0 auto;
    width: 50%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 230px;
}

input {

    height: 90px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: #8799A4;
    opacity: 90%;
    border: none;
    outline: none;
    text-indent: 10px;

    border-radius: 15vh;

    margin: 0 auto;

}

textarea {

    width: 1250px;

    display: flex;
    flex-direction: column;

    background-color: #8799A4;
    opacity: 90%;
    border: none;
    border-radius: 7px;
    outline: none;
    text-indent: 10px;

    border-radius: 1000px;

    margin: 0 auto;

    outline: none;
    resize: none;

}

#ins {

    margin: 0 auto;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 300px;
    background-color: #8799A4;
    font-size: 26px;
    font-family: "Alumni"

}

#um-pouco-mais {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin: 0 auto;

    font-family: "Alumni";

}
.redes {

    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-left: 150px;


}



#redes-sociais {

    display: flex;

    height: 30px;
    justify-content: space-between;
    object-fit: contain;

    margin-top: 30px;

}

#redes-sociais img {
    margin-bottom: 50px;
}



.redes img {



    width: 60px;
}

.cnhredes h2 {

    font-family: "Alumni";
    font-size: 35px;
    margin: 66px;

}

.portt {

    display: flex;
    font-family: "Alumni";
    font-size: 23px;
    margin-left: 800px;
    position: relative;
    bottom: 137px;
}

@media screen and (max-width: 1200px) {

    .cases img {
        width: 380%;
        height: 380%;
        object-fit: contain;
        width: auto;
    }

    #sobre {

        display: flex;
        font-family: "kdam";
        justify-content: center;
        flex-direction: column;
        font-size: 20px;

    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }

}

@media screen and (max-width: 1177px) {

    #sobre h2 {

        display: flex;
        font-family: "kdam";
        justify-content: center;
        flex-direction: column;
        font-size: 30px;
        width: 480px;

    }

    .cases img {
        width: 365%;
        height: 365%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1162px) {

    .cases img {
        width: 350%;
        height: 350%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1080px) {

    .cases img {
        width: 325%;
        height: 325%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1030px) {

    .cases img {
        width: 300%;
        height: 300%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1093px) {

    .cases img {
        width: 340%;
        height: 340%;
        object-fit: contain;
        width: auto;
    }

    #portifolio h2 {

        width: 80%;

    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1092px) {

    #portt h2 {

        width: 80%;

    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1058px) {

    .cases img {
        width: 320%;
        height: 320%;
        object-fit: contain;
        width: auto;
    }


    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1058px) {

    #exploracao img {

        width: 80%;

    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 1020px) {

    .cases img {
        width: 315%;
        height: 315%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }

}

@media screen and (max-width: 986px) {

    .cases img {
        width: 305%;
        height: 305%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}

@media screen and (max-width: 986px) {

    .cases img {
        width: 295%;
        height: 295%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }


}


@media screen and (max-width: 930px) {

    .cases img {
        width: 285%;
        height: 285%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }

}

@media screen and (max-width: 906px) {

    .cases img {
        width: 287%;
        height: 287%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }

}

@media screen and (max-width: 895px) {

    .cases img {
        width: 275%;
        height: 275%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }

}

@media screen and (max-width: 875px) {

    .cases img {
        width: 268%;
        height: 268%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}

@media screen and (max-width: 845px) {

    .cases img {
        width: 260%;
        height: 260%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}

@media screen and (max-width: 827px) {

    .cotacao {
        font-size: 80%;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}

@media screen and (max-width: 810px) {

    .cases img {
        width: 250%;
        height: 250%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}

@media screen and (max-width: 785px) {

    .cases img {
        width: 245%;
        height: 245%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}



@media screen and (max-width: 780px) {

    .sobre-a-empresa h2 {
        text-align: center;
        }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 32px;
    }

    .redes {
        width: 35%;

    }

    .cnhredes {
        text-align: center;
    }

    .redes {
        margin: 0 auto;
    }
}

@media screen and (max-width: 770px) {
    .cases img {
        width: 240%;
        height: 240%;
        object-fit: contain;
        width: auto;
    }
}

@media screen and (max-width: 770px) {

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }
}

@media screen and (max-width: 750px) {

    .cases img {
        width: 238%;
        height: 238%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }
}

@media screen and (max-width: 740px) {

    .cases img {
        width: 233%;
        height: 233%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }
}

@media screen and (max-width: 729px) {

    .cases img {
        width: 230%;
        height: 230%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }
}

@media screen and (max-width: 715px) {

    .cases img {
        width: 227%;
        height: 227%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 100px;
    }
}

@media screen and (max-width: 703px) {

    .cases img {
        width: 224%;
        height: 224%;
        object-fit: contain;
        width: auto;
    }

    .sobre-a-empresa p {
        text-align: center;
        font-size: 28px;
        padding: 60px;
    }

}

@media screen and (max-width: 703px) {

    .cases img {
        width: 218%;
        height: 218%;
        object-fit: contain;
        width: auto;
    }
}

@media screen and (max-width: 675px) {

    .cases img {
        width: 210%;
        height: 210%;
        object-fit: contain;
        width: auto;
    }

}

@media screen and (max-width: 655px) {

    .cases img {
        width: 205%;
        height: 205%;
        object-fit: contain;
        width: auto;
    }

}

@media screen and (max-width: 640px) {

    .menu a {
        font-size: x-large;
    }

    .cases img {
        width: 198%;
        height: 198%;
        object-fit: contain;
        width: auto;
    }

    .cotacao p {

        font-size: 75%;
    }

    .sobre-a-empresa h2 {

        font-size: 35px;

    }

    .sobre-a-empresa p {

        width: 450px;
    }
}

@media screen and (max-width: 520px)  {
    .cases img {
        width: 160%;
        height: 160%;
        object-fit: contain;
        width: auto;
    }   

    #sobre button {

        width: 130px;
        height: 25px;
        border-radius: 35px;
        border: none;
        background-color: rgba(133, 189, 255, 1);
        font-size: 18px;
        font-family: 'Alumni';
        margin-right: 145px;
    
    }

    .sobre-a-empresa h2 {

        font-size: 170%;
        width: 100%;
        padding: 20%;
    }

    .sobre-a-empresa p {
        margin-left: 100px;
        width: 105%;
        margin-left: -2%;
        font-size: 145%;
    }

    .menu a {
        font-size: 21px;
    }
}

@media screen and (max-width: 400px) {
    .cases img {
        width: 120%;
        height: 120%;
        object-fit: contain;
        width: auto;
    }

    .menu a {
        font-size: 15px;
    }

    #sobre button {
        width: 80px;
        height: 20px;
        border-radius: 20px;
        border: none;
        background-color: rgba(133, 189, 255, 1);
        font-size: 12px;
        font-family: 'Alumni';
        margin-right: 340px;
    }

    .cases {


        display: flex;
        justify-content: space-between;
        width: auto;
        height: 100px;
        margin-top: 45px;
    
    }

    .container-grid {

        margin: 0px;
        display: flex;
        justify-content: center;
    
    }

    .container-grid a {
        margin-left: 4px;
    }

    #sobre h2 {

        display: flex;
        font-family: "kdam";
        justify-content: center;
        flex-direction: column;
        font-size: 17px;
        width: 590px;

    }   

    .cotacao p {

        font-size: 55%;
    }

    input {

        height: 65px;
        width: 100%;
    
        display: flex;
        flex-direction: column;
    
        background-color: #8799A4;
        opacity: 90%;
        border: none;
        outline: none;
        text-indent: 10px;
    
        border-radius: 15vh;
    
        margin: 0 auto;
    
    }

    #ins {

        margin: 0 auto;
        width: 120px;
        height: 35px;
        border: none;
        border-radius: 300px;
        background-color: #8799A4;
        font-size: 20px;
        font-family: "Alumni"
    
    }

    .redes img {



        width: 35px;
    }

    .cnhredes h2 {

        font-family: "Alumni";
        font-size: 25px;
        margin: 66px;
    
    }

    #sobre .sobre-start {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 350px;
        margin: 160px;
    margin-left: 94%;
    
    }
}


@media screen and (max-width: 365px) {
    .cases img {
        width: 110%;
        height: 110%;
        object-fit: contain;
        width: auto;
    }

    .cotacao p {

        font-size: 51%;
    }
}