@font-face {
    font-family: 'changa';
    src: url(Fonts/Changa-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'kdam';
    src: url(Fonts/Alumni_Sans/AlumniSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Alumni';
    src: url(Fonts/Alumni_Sans/static/AlumniSans-Bold.ttf);
}


* {

    padding: 0;
    margin: 0;

}


:root {
    --laranja-gamers: #cf5c36;
    --azul-gamers: #1481ba;
    --cinza-gamers: #34312d;
}

.banner img {

    width: 100%;

}

.container-grid {

    margin: 20px;
    display: flex;
    justify-content: center;

}

.menu {

    display: flex;
    font-family: "kdam";
    justify-content: space-between;
    text-decoration: underline transparent;
    width: 80%;
    align-items: center;
    font-size: 30px;
}

.menu a {

    text-decoration: underline transparent;
    color: black;

}

.cases {

    
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    margin-top: 100px;

}

.cases img {

    width: 400%;
    height: 400%;
    object-fit: contain;
    width: auto;


}

#sobre {

    display: flex;
    font-family: "kdam";
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    

}

#sobre .sobre-start {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 350px;
    

}

.sobre-start a button{

    width: 250px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: rgba(133, 189, 255, 1);
    font-size: 35px;
    font-family: 'Alumni';

}

#sobre .exploracao {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    gap: 30px

}

#sobre .exploracao .textao {

    width: 80%;

}

#sobre .cotacao {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    font-family: "alumni";
    font-size: 50px;
}

#sobre .info {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 380px;
    font-family: "alumni";

}

.allcases img {
    display: flex;
    flex-direction: column;
    margin: 0 auto

}

#cotacao{
    width: 80%;

    margin: 0 auto;

    font-family: "Alumni";
    font-size: 30px;
}

#cotacaoi{
    font-family: "Alumni";
    font-size: 50px;
    margin: 0 auto;
    width: 38%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 230px;
}

input {
    
    height: 60px;
    width: 1382px;

    display: flex;
    flex-direction: column;

    background-color: #8799A4;
    opacity: 90%;
    border: none;
    border-radius: 7px;
    outline: none;
    text-indent: 10px;

    margin: 0 auto;

}

.input{
    height: 150px;
    width: 1382px;

    display: flex;
    flex-direction: column;

    background-color: #8799A4;
    opacity: 90%;
    border: none;
    border-radius: 7px;
    outline: none;
    text-indent: 10px;

    margin: 0 auto;
}

textarea{
    
    width: 1382px;

    display: flex;
    flex-direction: column;

    background-color: #8799A4;
    opacity: 90%;
    border: none;
    border-radius: 7px;
    outline: none;
    text-indent: 10px;

    margin: 0 auto;
    
}

#ins{
    width: 180px;
    height: 45px;
    border-radius: 35px;
    border: none;
    background-color: #8799A4;
    font-size: 28px;
    font-family: 'Alumni';

    
}

